.upload-container {
    padding: 20px;
    text-align: center;
    justify-content: center;
  }

  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .header h1 {
    color: #1d252c;
    font-size: 50px;
    font-family: Tahoma;
    letter-spacing: 2px;
    font-weight: 550;
    margin-top: 30px;
  }
  
  .header p {
    color: #1D252C52;
    max-width: 900px;
    font-size: 18px;
    margin-top: 10px;
    font-family: Tahoma;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 1.2;
  }
  
  .upload-box {
    border: 2px dashed #DB752C;
    border-radius: 8px;
    padding: 100px;
    margin: 40px auto;
    max-width: 1100px;
    justify-content: center;
    cursor: pointer;
  }
  
  .upload-instructions {
    display: flex;
    align-items: center;
    margin: 0 auto; /* Aplica margem automática horizontalmente */
    width: fit-content; /* Garante que o bloco não estenda mais do que o necessário */
    margin-top: -70px;
  }

  .upload-instructions .icon-photo {
    color: #1D252C52; /* Define a cor do ícone */
    font-size: 28px; /* Ajusta o tamanho do ícone */
    vertical-align: middle; /* Alinha verticalmente com o texto */
    margin-right: 10px; /* Adiciona espaço entre o ícone e o texto */
  }
  
  .instruction-text {
    text-align: left;
  }

  .photo-info{
    font-weight: bold;
    color: #1d252c;
    font-size: 15px;
    letter-spacing: 0.5px;

  }

  .photo-type{
    font-size: small;
    color: lightgrey;
    font-weight: bold;
    margin-top: -2px;
    font-size: 12px;
  }
  
  .file-input {
    display: none; /* Esconde o input padrão */
  }
  
  .file-label {
    display: flex;
    flex-direction: column; /* Organiza os filhos em coluna */
    align-items: center; /* Centraliza horizontalmente no contêiner */
    justify-content: center; /* Centraliza verticalmente no contêiner */
    text-align: center; /* Centraliza o texto */
    cursor: pointer;
    margin-top: 60px;
  }
  
  .upload-icon {
    width: 212px;
    height: auto;
  }

  .upload-info1{
    color: #DB752C;
    font-weight: bold;
    margin-bottom: -3px;
    letter-spacing: 0.3px;
  }

  .file-size{
    color: darkgray;
    font-weight: bold;
    margin-top: 5px;
  }
  
  /* Estilize o resto de seu componente aqui */
  