.details-container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Para alinhar os itens ao topo */
}

.details-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  letter-spacing: 1px;

}

.details-description {
  font-size: 18px;
  margin-bottom: 24px;
  color: #1D252C52;
  margin-top: -5px;
}

.image-preview-container {
  margin-bottom: 20px;
}

.uploaded-image {
  width: 560px;
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px; /* Adiciona bordas arredondadas se desejar */
  margin-left: -5px;
}

.attachments-title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  /* Outros estilos de layout podem ser adicionados aqui */
}

.attachments-style {
  font-weight: bold; /* Ou o peso desejado */
  color: #333; /* Ou a cor desejada */
  /* Outros estilos específicos para a palavra "Anexos" */
}

.pro-style {
  font-weight: bold;
  font-style: italic;
  color: #ff6a00; /* A cor pode ser alterada para se destacar */
  margin-left: 8px;
}


.form-fields .input-field {
  display: flex;
  padding: 8px;
  width: 550px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 550px;
  margin-left: 0px;
}

.forms-titles{
  font-weight: bold;
  font-size: 18px;
  margin-left: 0px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Ajusta as tags verticalmente */
  gap: 8px; /* Espaço entre as tags */
  margin-top: 10px; /* Espaço acima do contêiner das tags */
}

.description-textarea {
  width: 100%; /* Largura completa para alinhar com outros campos */
  padding: 8px; /* Espaçamento interno para conforto ao digitar */
  border: 1px solid #ccc; /* Borda como outros campos de entrada */
  border-radius: 4px; /* Bordas arredondadas */
  resize: vertical; /* Permite ao usuário ajustar a altura do campo */
  font-family: 'Arial', sans-serif; /* Mesma família de fontes dos outros campos */
  font-size: 16px; /* Tamanho da fonte adequado */
  line-height: 1.5; /* Espaçamento de linha para melhor leitura */
}

.additional-images-container {
  display: flex;
  justify-content: space-between; /* Ajusta conforme necessário para alinhamento */
  max-width: 560px;
}

.additional-image {
  border: 3px dashed #DB752C;
  border-radius: 8px;
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: 100px; /* Ajuste a altura conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Espaço entre as imagens */
}

.icon-photo {
  color: #1D252C29; /* Define a cor do ícone */
  font-size: 28px; /* Ajusta o tamanho do ícone */
  margin: auto;
}

.actions {
  text-align: left;
  margin-left: -7px;
  margin-bottom: 50px;
}

.publish-button,
.cancel-button {
  margin: 0 7px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.publish-button {
  padding: 8px;
  background-color: #DB752C; 
  color: white;
  box-shadow: 0px 3px 6px #DB752C29;
  border-radius: 3px;
  width: 200px;
}

.cancel-button {
  padding: 7px;
  background-color: white; /* Vermelho */
  color: #1d252c;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  width: 100px;
}  



.upload-container {
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  color: #1d252c;
  font-size: 50px;
  font-family: Tahoma;
  letter-spacing: 2px;
  font-weight: 550;
  margin-top: 30px;
}

.header p {
  color: #1D252C52;
  max-width: 900px;
  font-size: 18px;
  margin-top: 10px;
  font-family: Tahoma;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.2;
}

.upload-box {
  border: 2px dashed #DB752C;
  border-radius: 8px;
  padding: 100px;
  margin: 40px auto;
  max-width: 1100px;
  justify-content: center;
  cursor: pointer;
}

.upload-instructions {
  display: flex;
  align-items: center;
  margin: 0 auto; /* Aplica margem automática horizontalmente */
  width: fit-content; /* Garante que o bloco não estenda mais do que o necessário */
  margin-top: -70px;
}

.upload-instructions .icon-photo {
  color: #1D252C52; /* Define a cor do ícone */
  font-size: 28px; /* Ajusta o tamanho do ícone */
  vertical-align: middle; /* Alinha verticalmente com o texto */
  margin-right: 10px; /* Adiciona espaço entre o ícone e o texto */
}

.instruction-text {
  text-align: left;
}

.photo-info{
  font-weight: bold;
  color: #1d252c;
  font-size: 15px;
  letter-spacing: 0.5px;

}

.photo-type{
  font-size: small;
  color: lightgrey;
  font-weight: bold;
  margin-top: -2px;
  font-size: 12px;
}

.file-input {
  display: none; /* Esconde o input padrão */
}

.file-label {
  display: flex;
  flex-direction: column; /* Organiza os filhos em coluna */
  align-items: center; /* Centraliza horizontalmente no contêiner */
  justify-content: center; /* Centraliza verticalmente no contêiner */
  text-align: center; /* Centraliza o texto */
  cursor: pointer;
  margin-top: 60px;
}

.upload-icon {
  width: 212px;
  height: auto;
}

.upload-info1{
  color: #DB752C;
  font-weight: bold;
  margin-bottom: -3px;
  letter-spacing: 0.3px;
}

.file-size{
  color: darkgray;
  font-weight: bold;
  margin-top: 5px;
}

/* Estilize o resto de seu componente aqui */
.tag {
  display: inline-flex;
  align-items: center;
  background-color: white;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  width: 110px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-icon {
  width: 16px; /* Ou o tamanho que você desejar para o ícone */
  height: 16px; /* Mantenha a mesma altura e largura para o ícone ser quadrado */
  margin-right: 7px;
  margin-left: 7px;
}

.tag-label {
  margin-right: 10px;
  font-size: bold;
}

.tag-delete-button {
  width: 35px;
  height: 35px;
  background: #EEEEEE;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  font-size: 17px;
  color: black;
  margin-right: -20px;
  text-align: top;
  font-weight:normal;
  font-family: Arial;
}  

/* --------------- Estilos da Página Cursos --------------------*/
.courses-presentation {
  position: relative;
  background-image: url('images/Casa-Pavilhão-Cena-02.png'); /* Atualize o caminho da imagem */
  background-size: cover;
  background-position: center;
  height: 500px;
}

.courses-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #db752cd7; /* Laranja translúcido */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.courses-overlay h1 {
  font-size: 50px; /* Ajuste o tamanho conforme necessário */
  margin: 0;
  font-weight: bold;
}

.courses-overlay p {
  font-size: 30px; /* Ajuste o tamanho conforme necessário */
  margin: 15px 0 0 0;
  color: #d6d6d6;
  max-width: 70%;
}

.course-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 110px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 20px;
}

.course-card {
  background: #e9e9e9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 1 1 calc(33.333% - 40px); /* Permite que os cartões cresçam para preencher a linha */
  max-width: calc(33.333% - 40px); /* Garante que os cartões não excedam um terço do contêiner */
  text-align: left;
  min-width: 250px;
}

.course-card img {
  width: auto;
  height: auto;
}

.course-info {
  padding: 20px;
}

.video-aula {
  font-weight: 700;
  color: #333;
  margin-bottom: 3px;
  font-size: 24px;
}

.course-title {
  font-size: 35px;
  margin-bottom: 3px;
  font-weight: bold;
}

.course-description {
  color: #969696;
  font-weight: 400;
}

/* -------------- Estilo Live --------------*/
.lives-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.left-section {
  width: 60%;
}

.left-section h1{
  font-size: 31px;
  padding-bottom: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 90%;
  text-align: center;
}

.right-section {
  width: 31%;
  position: relative;
  background-image: url('images/photo-1564659318400-669837b066ba.png');
  background-size: cover;
  background-position: center;
}

.video-container {
  position: relative;
  width: 100%;
}

.video-thumbnail {
  width: 90%;
  height: auto;
  display: block;
}

.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 20%; /* Ajuste a altura conforme necessário */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  pointer-events: none; /* Permite clicar no vídeo através do pseudo-elemento */
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1d252cd3;
  width: 100px;
  height: 70px;
  border: none;
  font-size: 2em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 20px;
}

.overlay {
  background: #db752cd7; /* Laranja translúcido */
  height: 100%;
  padding: 20px;
  color: white;
}

.overlay h2 {
  font-size: 18px;
  color: #1d252c52;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 0;
}

.overlay h3 {
  font-size: 30px;
  padding-left: 10px;
  padding-top: 0;
  font-weight: bold;
  max-width: 51%;
  letter-spacing: 2px;
  line-height: 1.2;
  padding-bottom: 10px;
}

.lives-schedule {
  margin-top: 25px;
}

.live-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.live-info {
  display: flex;
  flex-direction: column;
}

.live-date {
  font-weight: bold;
}

.live-detail {
  font-size: 19px;
  line-height: 1.2;
}

.logo {
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: auto;
  height: 22px;
}

/* ----------- Estilo Formulário de Formações ------------*/

.formation-form-container {
  padding-left: 250px;
}

.form-anos{
  display: flex;
  gap: 20px;
}

.ano-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-anos .input-field-anos {
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-anos .title-anos{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.formations-actions{
  margin-top: 30px;
}

.add-formation-button {
  margin-left: 0;
  margin-right: 12px;
  border: solid;
  height: 40px;
  border-color: #dddddd;
  cursor: pointer;
  font-weight: bold;
  border-width: 1px;
  border-radius: 3px;
  width: 200px;
}

.save-formation-button{
  padding: 8px;
  background-color: #DB752C; 
  color: white;
  border-radius: 3px;
  width: 100px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}